# ========================
# ANDROID / JAVA RELATED
# ========================
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# ========================
# MISCELLANEOUS
# ========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ========================
# INTELLIJ / IDEA
# ========================
*.iml
*.ipr
*.iws
.idea/

# ========================
# VSCODE (opsional)
# ========================
#.vscode/

# ========================
# FLUTTER / DART
# ========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
coverage/

# ========================
# SYMBOLICATION
# ========================
app.*.symbols

# ========================
# OBFUSCATION
# ========================
app.*.map.json

# ========================
# ANDROID STUDIO BUILD OUTPUT
# ========================
/android/app/debug
/android/app/profile
/android/app/release
